/* .details-col{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

.details-card{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.details-span{
    direction: rtl;
}
.details-p{
    direction: rtl; 
}
.btn-save{
    background-color:  #08b9e3 !important;
}