
.imagStyle{
  width: 150px;
  height: 130px;
  margin: 2px;
}

.imag{ 
  background-image: url("https://mdbootstrap.com/img/new/slides/017.webp");
  background-position: center;
  height: 140px;
  width: 140px;
  margin-bottom: 0px;
}

.card-img-overlay{
  margin-top: 80px;
}

.myText{
  display: flex; 
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.564);
  height: 50px;
}

ul{
  list-style:none;
  padding-left: 4rem;
}

.d-flex{
  flex-wrap: wrap;
}

ul li::before{
  content: "\2022";
  color: rgb(119, 196, 228);
  font-weight: bold;
  display: inline-block; 
  width: 1rem;
}

.textInModle {
  height: 50px;
  width: 150px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  
}

.PopUpModel{
  background-image: url("https://pbs.twimg.com/profile_images/1485050791488483328/UNJ05AV8_400x400.jpg");
  background-position: center;
  display: flex;
  align-items: flex-end;
  height: 140px;
  justify-content:start;
}

.modal_popUp{
  background-color: black;
}