.card-for-home-page {
  background-image: url("https://pbs.twimg.com/profile_images/1485050791488483328/UNJ05AV8_400x400.jpg");
  background-position: center;
  display: flex;
  align-items: flex-end;
  height: 140px;
  width: 140px;
  justify-content: center;
  
}
.card-for-home-page :hover{
  scale: 1.03;
}
.textInCard {
  height: 50px;
  width: 150px;
  color: white;
  background-color: rgba(12, 12, 12, 0.525);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
