

.gif{
    width: 100%;
    height: 100%;
    background-image: url("https://avantaco.com/upload-img/Over_all/over-all-services.gif");
    background-repeat: no-repeat;
    padding-left: 0%;
    padding-right: 0;

}
.description{
color: rgb(211, 164, 45);
padding-left: 0%;
padding-right: 0%;
background-color: rgb(255, 255, 255);
}