.generiCard_div {
    margin: 10%;
}

.genericCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #08b9e3;
}

.first_card {
    position: absolute;
    z-index: -1;
    border: 2px solid #08b9e3;

}



.second_card:hover {
    display: none;
}